@using Helper.Constants
@model ViewModels.Login.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
    string dataLiveSearch = "data-live-search='true'";
    string multiple = "multiple";
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <style>
        label {
            font-size: 13px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/sign-up.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <title>isleme.net - Kayıt Ol</title>
</head>

<body>
    @if (TempData[ConstantHelper.ErrorMessage] != null)
    {
        <!-- Button trigger modal -->
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>*@

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Kayıt Hatası</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger"> @Html.Raw(TempData[ConstantHelper.ErrorMessage])</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                $("#exampleModal").modal('show');
            });
        </script>
    }


    <!-- top-navbar -->
    <div class="top-navbar">
        <div class="container-fluid topbar">
            <div class="contact-address">
                <div class="phone-number">
                    <img src="~/img/logos/logo_photo/icons8-phone-24 (1).png" />
                    <span>+90 543 8766246 | +90 506 112 45 89 </span>
                </div>
                <div class="email-address">
                    <img src="~/img/logos/logo_photo/icons8-mail-50 (1).png" width="24" height="24" alt="" />
                    <span>info@isleme.net</span>
                </div>
            </div>
            <div class="topbar-buttons">
                @*<ul>
                    <li><a href="">Kariyer</a></li>
                    <li><a href="">Geri Dönüşler</a></li>
                    <li><a href="">Güncellemeler</a></li>
                </ul>*@
                <div class="language">
                    <button class="btn btn-change-language">
                        <img src="~/img/eng-flag.svg" alt="">
                        English
                    </button>
                    <a href="">
                        <img src="~/img/icons/question-mark-light-blue.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- top-navbar -->
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/AnaSayfa">   <img src="~/img/logos/cnclogo.png" width="150" height="75" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                @*<li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>*@
                <li class="nav-item active">
                    <a class="nav-link" href="/AnaSayfa">Ana Sayfa </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Satıcılar</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#">Üreticiler</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/Pricing/Index">Fiyatlandırma</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#">Hizmetler</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#">Hakkımızda</a>
                </li>
            </ul>
            <form onsubmit="javascript: giris();" class="form-inline my-2 my-lg-0">
                <a class="btn btn-sign-up my-2 my-sm-0" href="/AnaSayfa">Giriş Yap</a>
            </form>
        </div>
    </nav>
    <!-- navbar -->
    <!-- content -->
    <div class="container my-4">
        <div class="step-header">
            <h2 class="step-title">Şirket Detayları</h2>
            <p>Adım <span class="step-count">1</span>/3</p>
        </div>

        <ul class="nav nav-pills sign-up-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link sign-up-step-link active" id="pills-company-details" data-toggle="pill"
                   href="#company-details" role="tab" aria-controls="pills-company-details" aria-selected="true"></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link sign-up-step-link" id="pills-account-details" data-toggle="pill"
                   href="#account-details" role="tab" aria-controls="pills-account-details" aria-selected="false"></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link sign-up-step-link" id="pills-company-profile" data-toggle="pill"
                   href="#company-profile" role="tab" aria-controls="pills-company-profile" aria-selected="false"></a>
            </li>
        </ul>
        <form method="post" asp-controller="Login" asp-action="Register" autocomplete="off">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="company-details" role="tabpanel"
                     aria-labelledby="pills-company-details">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="role-title">ENDÜSTRİDEKİ ROLÜNÜZ*</h6>
                            <div class="form-check form-check-inline w-45">
                                <input class="form-check-input role-input" type="radio" asp-for="IsBuyer" id="exampleRadios1" value="true" checked>
                                <label class="form-check-label role-label btn btn-buyer" for="exampleRadios1">
                                    Satıcıyım
                                </label>
                            </div>
                            <div class="form-check form-check-inline w-45">
                                <input class="form-check-input role-input" type="radio" asp-for="IsBuyer" id="exampleRadios2" value="false">
                                <label class="form-check-label role-label btn btn-manifacturer" for="exampleRadios2">
                                    Üreticiyim
                                </label>
                            </div>

                            <div class="form-group signup-form-group mt-4">
                                <label class="form-text" asp-for="CompanyName"></label>
                                <input type="text" asp-for="CompanyName" class="form-control signup-form-control">
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-group signup-form-group">
                                @*<small class="form-text">Sokak*</small>*@
                                <label class="form-text" asp-for="Street"></label>
                                <input type="text" asp-for="Street" class="form-control signup-form-control">
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                            <div class="form-group signup-form-group">
                                @*<small class="form-text">Ülke*</small>*@
                                <label class="form-text" asp-for="Country"></label>
                                <select class="selectpicker form-control" asp-for="Country" data-live-search="true">
                                    @foreach (var item in Model.Countrys)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>

                            @*<div class="form-group signup-form-group">
                                    <small class="form-text">Sales Partner Code*</small>
                                    <input type="text" class="form-control signup-form-control">
                                </div>*@
                        </div>

                        <div class="col-md-6">
                            <h6 class="industry-title">ENDÜSTRİ SEKTÖRÜ*</h6>
                            <div class="form-check form-check-inline w-30">
                                <input class="form-check-input industry-input" asp-for="SectorMetal"  
                                       id="exampleRadios3" checked>
                                <label class="form-check-label industry-label btn btn-buyer" for="exampleRadios3">
                                    Metal
                                </label>
                            </div>
                            <div class="form-check form-check-inline w-30">
                                <input class="form-check-input industry-input"  asp-for="SectorWood"
                                       id="exampleRadios4">
                                <label class="form-check-label industry-label btn btn-manifacturer" for="exampleRadios4">
                                    Mdf
                                </label>
                            </div>
                            <div class="form-check form-check-inline w-30">
                                <input class="form-check-input industry-input" asp-for="SectorThreeD"
                                       id="exampleRadios5">
                                <label class="form-check-label industry-label btn btn-manifacturer" for="exampleRadios5">
                                    3D
                                </label>
                            </div>
                            <div class="form-group signup-form-group mt-4">
                                <label class="form-text" asp-for="PhoneNumber"></label>
                                <input type="number" asp-for="PhoneNumber" class="form-control signup-form-control">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @*<div class="form-group signup-form-group">
                    <label class="form-text" asp-for="City"></label>
                    <input type="text" asp-for="City" class="form-control signup-form-control">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>*@
                                    <div class="form-group signup-form-group">
                                        <label class="form-text" asp-for="City"></label>
                                        <select class="selectpicker form-control" asp-for="City" data-live-search="true">
                                            @foreach (var item in Model.Iller)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group signup-form-group">
                                        <label class="form-text" asp-for="Zip"></label>
                                        <input type="number" asp-for="Zip" class="form-control signup-form-control">
                                        <span asp-validation-for="Zip" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="State"></label>
                                <input type="text" asp-for="State" autocomplete="off" value=""  class="form-control signup-form-control">
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                            <button class="btn btn-block btn-signup-contunie" type="button" id="btn-go-account-detail" disabled>DEVAM ET</button>
                        </div>
                    </div>
                    <div class="avail-matter-div">
                        <h4>Şimdi dijital fırsatlardan yararlanın!</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <h6>CNC üreticisi</h6>
                                <ul>
                                    <li>Her ay, en az 100 yeni istek.</li>
                                    <li>Her ay seçtiğiniz 5 isteği ücretsiz olarak görüntüleyin. </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h6>Alıcı</h6>
                                <ul>
                                    <li>Binlerce yüksek nitelikli CNC üreticisi.</li>
                                    <li>Yerel, bölgesel ve küresel olarak anında mevcut kapasiteleri görün.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="pills-account-details">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="role-title">CİNSİYET*</h6>
                            <div class="form-check form-check-inline w-45">
                                <input class="form-check-input gender-input" type="radio" asp-for="Sex"
                                       id="exampleRadios6" value="1" checked>
                                <label class="form-check-label gender-label btn btn-mr" for="exampleRadios6">
                                    BAY
                                </label>
                            </div>
                            <div class="form-check form-check-inline w-45">
                                <input class="form-check-input gender-input" type="radio" asp-for="Sex"
                                       id="exampleRadios7" value="2">
                                <label class="form-check-label gender-label btn btn-ms" for="exampleRadios7">
                                    BAYAN
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="FirstName"></label>
                                <input type="text" asp-for="FirstName" class="form-control signup-form-control">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="LastName"></label>
                                <input type="text" asp-for="LastName" class="form-control signup-form-control">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="Email"></label>
                                <input type="email" asp-for="Email" class="form-control signup-form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="Password"></label>
                                <input type="password" asp-for="Password" class="form-control signup-form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="RePassword"></label>
                                <input type="password" asp-for="RePassword" class="form-control signup-form-control">
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-check">
                        @*<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">*@
                        <input class="form-check-input" asp-for="IsCheckTheContract" value="true">
                        <label class="form-check-label" for="IsCheckTheContract">
                            Kaydolarak, kullanım şartlarımızı kabul etmiş ve verilerinizin işlenmesine rıza göstermiş olursunuz.
                        </label>
                        <br>
                        <small class="form-check-label" for="IsCheckTheContract">
                            (Gizlilik politikamız, hizmetlerimizin sözleşmeye dayalı olarak sunulması, analiz ve aktarım amaçları için, çıkarlarınızın korunmasına ilişkin bilgiler ve haklarınızın ayrıntıları, özellikle de geri çekme ve iptal haklarınız.)
                        </small>
                        <span asp-validation-for="IsCheckTheContract" class="text-danger"></span>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <button class="btn btn-back-signup btn-block btn-back-company-detail" type="button"
                                    id="btn-back-company-detail">
                                GERİ
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-signup-contunie" id="btn-go-company-profile" disabled>DEVAM ET</button>
                        </div>
                    </div>

                    <div class="user-data-info-div">
                        <h4>Kullanıcı bilgisi</h4>
                        <h6>İş süreçlerinizi sadece birkaç adımda dijitalleştirin.</h6>
                        <ul>
                            <div class="row">
                                <div class="col-md-6">
                                    <li>Müşteri arasında doğrudan iletişim</li>
                                    <li>Tüm bilgiler gerçek zamanlı</li>
                                </div>
                                <div class="col-md-6">
                                    <li>Müşteri ve yüklenici arasında doğrudan iletişim</li>
                                    <li>Tüm bilgiler gerçek zamanlı</li>
                                    <li>Siparişlerinizle ilgili süreçler şeffaftır.</li>
                                </div>
                            </div>
                        </ul>

                    </div>
                </div>

                <div class="tab-pane fade" id="company-profile" role="tabpanel" aria-labelledby="pills-company-profile">
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="YearOfEstablishment"></label>
                                <input type="text" asp-for="YearOfEstablishment" class="form-control signup-form-control">
                                <span asp-validation-for="YearOfEstablishment" class="text-danger"></span>
                            </div>
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="CompanySize"></label>
                                @*<input type="text" asp-for="CompanySize" class="form-control signup-form-control">*@
                                <select class="selectpicker form-control" asp-for="CompanySize" data-live-search="true">
                                    @foreach (var item in Model.CompanySizes)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="CompanySize" class="text-danger"></span>
                            </div>
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="MaterialsYourCompanyProcesses"></label>
                                @*<input type="text" asp-for="MaterialsYourCompanyProcesses" class="form-control signup-form-control">*@
                                <select class="selectpicker form-control" asp-for="MaterialsYourCompanyProcesses" data-live-search="true" multiple>
                                    @foreach (var item in Model.Materials)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="MaterialsYourCompanyProcesses" class="text-danger"></span>
                            </div>
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="IndustriesYourCompanySuppliesTo"></label>
                                @*<input type="text" asp-for="IndustriesYourCompanySuppliesTo" class="form-control signup-form-control">*@
                                <select class="selectpicker form-control" asp-for="IndustriesYourCompanySuppliesTo" data-live-search="true" multiple>
                                    @foreach (var item in Model.Industries)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="IndustriesYourCompanySuppliesTo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="TIN"></label>
                                <input type="text" asp-for="TIN" class="form-control signup-form-control">
                                <span asp-validation-for="TIN" class="text-danger"></span>
                            </div>
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="WebSiteUrl"></label>
                                <input type="text" asp-for="WebSiteUrl" class="form-control signup-form-control">
                                <span asp-validation-for="WebSiteUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="TechnologiesYourCompanyUses"></label>
                                <select class="selectpicker form-control" asp-for="TechnologiesYourCompanyUses" data-live-search="true" multiple>
                                    @foreach (var item in Model.Technogies)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="TechnologiesYourCompanyUses" class="text-danger"></span>
                            </div>
                            <div class="form-group signup-form-group">
                                <label class="form-text" asp-for="MyCertifications"></label>
                                <select class="selectpicker form-control" asp-for="MyCertifications" data-live-search="true" multiple>
                                    @foreach (var item in Model.Certifications)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="MyCertifications" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <button class="btn btn-back-signup btn-block" type="button" id="btn-back-account-detail">
                                GERİ
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-block btn-signup-complate" type="submit" id="btn-signup-complate">
                                KAYIT İŞLEMİNİ TAMAMLA
                            </button>
                        </div>
                    </div>

                    <div class="company-profile-info-div">
                        <h4>Şirket Profilim</h4>
                        <h6>Ayrıntılı şirket profilinizden yararlanın.</h6>
                        <ul>
                            <div class="row">
                                <div class="col-md-6">
                                    <li>Eksiksiz şirket profilleri ile artan iş fırsatları.</li>
                                </div>
                                <div class="col-md-6">
                                    <li>Bir bakışta şirketinizin tüm güçlü yönleri</li>
                                    <li>Eksiksiz makine filosunun sağladığı daha iyi sipariş fırsatları</li>
                                </div>
                            </div>
                        </ul>

                    </div>
                </div>
            </div>

        </form>
    </div>
    <!-- content -->
    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/logos/cnclogo.png" width="150" height="75" />
                    <div class="social-media-icons">
                        <div class="facebook social-media-icon">
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="fab fa-facebook-f fa-lg"></i>
                            </a>
                        </div>
                        <div class="twitter social-media-icon">
                            <a href="https://www.twitter.com" target="_blank">
                                <i class="fab fa-twitter fa-lg"></i>
                            </a>
                        </div>
                        <div class="youtube social-media-icon">
                            <a href="https://www.youtube.com" target="_blank">
                                <i class="fab fa-youtube fa-lg"></i>
                            </a>
                        </div>

                        <div class="instagram social-media-icon">
                            <a href="https://www.instagram.com" target="_blank">
                                <i class="fab fa-instagram fa-lg"></i>
                            </a>
                        </div>

                        <div class="linkedin social-media-icon">
                            <a href="https://www.linkedin.com" target="_blank">
                                <i class="fab fa-linkedin-in fa-lg"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <h5 class="footer-section-header">isleme.net</h5>
                    <img src="~/img/footer-section-border.svg" alt="">
                    <ul class="footer-links">
                        <li><a href="">Alıcılar için Avantajlar</a></li>
                        <li><a href="">CNC kapasitesini bulun</a></li>
                        <li><a href="">Şu anda mevcut RFQ'lar</a></li>
                        <li><a href="">Üreticiler İçin Avantajlar</a></li>
                        <li><a href="">CNC karını maksimize edin</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5 class="footer-section-header">Hakkımızda</h5>
                    <img src="~/img/footer-section-border.svg" alt="">
                    <ul class="footer-links">
                        <li><a href="">Şirket</a></li>
                        <li><a href="">Kariyer</a></li>
                        <li><a href="">Haberler</a></li>
                        <li><a href="">Basın Araştırması</a></li>
                        <li><a href="">Basın</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5 class="footer-section-header">Yardım&Desktek</h5>
                    <img src="~/img/footer-section-border.svg" alt="">
                    <ul class="footer-links">
                        <li><a href="">İletişim</a></li>
                        <li><a href="">Sıkça Sorulan Sorular</a></li>
                        <li><a href="">Giriş</a></li>
                        <li><a href="">Kayıt Ol</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- footer-bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-content">
                    <div class="copyright">
                        <span>Copyright © <a href="http://" target="_blank">isleme.net</a></span>
                    </div>
                    <ul>
                        <li><a href="">Gizlilik</a></li>
                        <li><a href="">Politikalar</a></li>
                        <li><a href="">Yasal Haklar</a></li>
                        <li><a href="">T&Cs</a></li>
                        <li><a href="http://" target="_blank">BÜLTENE KAYIT OL</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- footer-bottom -->
    </footer>
    <!-- footer -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>


    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->


    <script>
        
        $("#btn-go-account-detail").click(function () {
            $("#pills-account-details").click();
            $("#pills-company-details").addClass("step-comp");
            $(".step-title").text("Şirket Detaylarınız");
            $(".step-count").text("2");
        });

        $("#btn-back-company-detail").click(function () {
            $("#pills-company-details").click();
            $(".step-title").text("Şirket Detaylarınız");
            $(".step-count").text("1");
            if ($("#pills-company-details").hasClass("step-comp")) {
                $("#pills-company-details").removeClass("step-comp");
            }
        });

        $("#btn-go-company-profile").click(function () {
            $("#pills-company-profile").click();
            $("#pills-account-details").addClass("step-comp");
            $(".step-title").text("Şirket Profili");
            $(".step-count").text("3");
        });

        $("#btn-back-account-detail").click(function () {
            $("#pills-account-details").click();
            $(".step-title").text("Şirket Detaylarınız");
            $(".step-count").text("2");
            if ($("#pills-account-details").hasClass("step-comp")) {
                $("#pills-account-details").removeClass("step-comp");
            }
        });

        //$("#btn-signup-complate").click(function () {
        //    window.open("thank-you-register.html");
        //});
        $('.myselectpicker').selectpicker();
        //1.Adım
        FirstStep();
        $("#CompanyName,#Street,#PhoneNumber,#City,#Zip,#State").keyup(function () {
            FirstStep();
        });

        //1.Adım İşlemler
        function FirstStep() {
            var val1 = $("#CompanyName").val();
            var val2 = $("#Street").val();
            var val3 = $("#PhoneNumber").val();
            var val4 = $("#City").val();
            var val5 = $("#Zip").val();
            var val6 = $("#State").val();
            if (val1 !== "" && val2 !== "" && val3 !== "" && val4 !== "" && val5 !== "" && val6 !== "") {
                $("#btn-go-account-detail").removeAttr("disabled");
            } else {
                $("#btn-go-account-detail").attr("disabled", "disabled");
            }
        }
        //2.Adım
        $("#FirstName, #LastName, #Email,#Password, #RePassword").on("keyup", function () {
            SecondStepControl();
        });

        $("#IsCheckTheContract").change(function () {
            SecondStepControl();
        });

        function SecondStepControl() {
            var val1 = $("#FirstName").val();
            var val2 = $("#LastName").val();
            var val3 = $("#Email").val();
            var val4 = $("#Password").val();
            var val5 = $("#RePassword").val();
            var val6 = $("#IsCheckTheContract").is(":checked");
            console.log(val6);
            if (val1 !== "" && val2 !== "" && val3 !== "" && val4 !== "" && val5 !== "" && val6 === true && (val4 == val5)) {
                $("#btn-go-company-profile").removeAttr("disabled");
            } else {
                $("#btn-go-company-profile").attr("disabled", "disabled");
            }
        }
        //3.Adım
        

        function BackgroundDropdown() {
            var len = $(".dropdown-toggle").length;
            for (var i = 1; i <= len; i++) {
                $("button[aria-owns='bs-select-" + i + "']").css({ "background-color": "white", "border": "0px" });
            }
        }


        $(window).on('load', function () {
            BackgroundDropdown();
        }); 
        setTimeout(function () {
            $("#State").val("");
        }, 600);

        function giris(e) {
            window.location.href = "/AnaSayfa";

        }
    </script>
</body>

</html>